@model UserLogin
@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <title>Fitness GYM </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">

    <link rel="stylesheet" href=@Url.Content("~/Assets/css/bootstrap.css")>
    <link rel="stylesheet" href=@Url.Content("~/Assets/css/animate.css")>
    <link rel="stylesheet" href=@Url.Content("~/Assets/css/owl.carousel.min.css")>

    <link rel="stylesheet" href=@Url.Content("~/Assets/css/magnific-popup.css")>

    <link rel="stylesheet" href=@Url.Content("~/Assets/fonts/ionicons/css/ionicons.min.css")>
    <link rel="stylesheet" href=@Url.Content("~/Assets/fonts/fontawesome/css/font-awesome.min.css")>

    <!-- Theme Style -->
    <link rel="stylesheet" href=@Url.Content("~/Assets/css/style.css")>
</head>
<body>
    <header role="banner">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("MemberView", "Home")">Fitne<span>zz</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample05">
                    <ul class="navbar-nav mr-auto pl-lg-5 pl-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="@Url.Action("MemberView", "Home")">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("AboutUs", "Home")">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("ContactUs", "Home")">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <section class="home-slider-loop-false  inner-page owl-carousel">
        <div class="slider-item" style="background-image: url('@Url.Content("~/Assets/img/slider-1.jpg")');">

            <div class="container">
                <div class="row slider-text align-items-center justify-content-center">
                    <div class="col-md-8 text-center col-sm-12 element-animate">
                        <h1>Login</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="d-flex justify-content-center align-items-center" style="min-height: 70vh; margin-bottom: 30px; margin-top: 100px;">
        <div class="form-wrap overlap element-animate" >
            <div class="col-md-12">
            <h1 class="h1">Log in</h1>
            <form method="POST" class="register-form" id="login-form">
                <div class="form-group">
                     <label asp-for="Username"><i class="zmdi zmdi-account material-icons-name"></i></label>
        <input name="username" type="text" placeholder="Your Name" />
                </div>
                <div class="form-group">
                        <label asp-for="Pass"><i class="zmdi zmdi-lock"></i></label>
                        <input name="password" type="password" placeholder="Password" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block py-3" value="Log In">
                </div>
            </form>
        </div>
    </div>
   </div>

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            @ViewBag.ErrorMessage
        </div>
    }
    <footer class="site-footer" role="contentinfo">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-4 mb-5">
                    <h3>About Us</h3>
                    <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus et dolor blanditiis consequuntur ex voluptates perspiciatis omnis unde minima expedita.</p>
                    <ul class="list-unstyled footer-link d-flex footer-social">
                        <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
                    </ul>

                </div>
                <div class="col-md-5 mb-5">
                    <h3>Contact Info</h3>
                    <ul class="list-unstyled footer-link">
                        <li class="d-block">
                            <span class="d-block">Address:</span>
                            <span class="text-white">34 Street Name, City Name Here, United States</span>
                        </li>
                        <li class="d-block"><span class="d-block">Telephone:</span><span class="text-white">+1 242 4942 290</span></li>
                        <li class="d-block"><span class="d-block">Email:</span><span class="text-white">info@yourdomain.com</span></li>
                    </ul>
                </div>
                <div class="col-md-3 mb-5">
                    <h3>Quick Links</h3>
                    <ul class="list-unstyled footer-link">
                        <li><a href="#">About</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Disclaimers</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-md-center text-left">
                    <p>
                        &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> <br> Demo Images Unsplash
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- END footer -->-
    <!-- JS Files -->

    <script src="@Url.Content("~/Assets/js/jquery-3.2.1.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/popper.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/jquery.waypoints.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/jquery.magnific-popup.min.js")"></script>
    <script src="@Url.Content("~/Assets/js/magnific-popup-options.js")"></script>
    <script src="@Url.Content("~/Assets/js/main.js")"></script>
</body>
</html>