@model abUS

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header role="banner" style="margin-block:revert-layer">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Fitne<span>zz</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav mr-auto pl-lg-5 pl-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("MemberView", "Home")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("AboutUs", "Home")">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ContactUs", "Home")">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "MembershipPlans")">Membership Plans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Testimonials", "Member")">Testimonials</a>
                    </li>
                </ul>

                <!-- Profile Section -->
                <ul class="navbar-nav ml-auto">
                </ul>
            </div>
        </div>
    </nav>
</header>

<h1>Create</h1>

<h4>Aboutuspage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Headertitle" class="control-label"></label>
                <input asp-for="Headertitle" class="form-control" />
                <span asp-validation-for="Headertitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paragraph1" class="control-label"></label>
                <input asp-for="Paragraph1" class="form-control" />
                <span asp-validation-for="Paragraph1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paragraph2" class="control-label"></label>
                <input asp-for="Paragraph2" class="form-control" />
                <span asp-validation-for="Paragraph2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paragraph3" class="control-label"></label>
                <input asp-for="Paragraph3" class="form-control" />
                <span asp-validation-for="Paragraph3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile1"></label>
                <input asp-for="ImageFile1" type="file" class="form-control" />
                <span asp-validation-for="ImageFile1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile2"></label>
                <input asp-for="ImageFile2" type="file" class="form-control" />
                <span asp-validation-for="ImageFile2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
