@model IEnumerable<gym.Models.Contactusform>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submittedat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isreviewed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Submittedat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isreviewed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Formid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Formid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Formid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
