@model IEnumerable<gym.Models.Contactusform>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header role="banner" style="margin-block:revert-layer">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Fitne<span>zz</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav mr-auto pl-lg-5 pl-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("MemberView", "Home")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("AboutUs", "Home")">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ContactUs", "Home")">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "MembershipPlans")">Membership Plans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Testimonials", "Member")">Testimonials</a>
                    </li>
                </ul>

                <!-- Profile Section -->
                <ul class="navbar-nav ml-auto">
                </ul>
            </div>
        </div>
    </nav>
</header>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Submittedat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isreviewed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Submittedat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isreviewed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Formid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Formid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Formid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
