@model Homepage

@{
    ViewData["Title"] = "Homepage Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header role="banner" style="margin-block:revert-layer">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Fitne<span>zz</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav mr-auto pl-lg-5 pl-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("MemberView", "Home")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("AboutUs", "Home")">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ContactUs", "Home")">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "MembershipPlans")">Membership Plans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Testimonials", "Member")">Testimonials</a>
                    </li>
                </ul>

                <!-- Profile Section -->
                <ul class="navbar-nav ml-auto">
                </ul>
            </div>
        </div>
    </nav>
</header>
<h1>Details</h1>

<div>
    <h4>Homepage</h4>
    <hr />
    <dl class="row">
        <!-- Slider Title 1 -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slidertitle1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slidertitle1)
        </dd>

        <!-- Slider Subtitle 1 -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slidersubtitle1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slidersubtitle1)
        </dd>

        <!-- Slider Image 1 -->
        <dt class="col-sm-2">
            Slider Image 1
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Sliderimage1" alt="Slider Image 1" style="max-width: 200px; height: auto;" />
        </dd>

        <!-- Slider Title 2 -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slidertitle2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slidertitle2)
        </dd>

        <!-- Slider Subtitle 2 -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slidersubtitle2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slidersubtitle2)
        </dd>

        <!-- Slider Image 2 -->
        <dt class="col-sm-2">
            Slider Image 2
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Sliderimage2" alt="Slider Image 2" style="max-width: 200px; height: auto;" />
        </dd>

        <!-- Last Updated -->
        <dt class="col-sm-2">
            Last Updated
        </dt>
        <dd class="col-sm-10">
            @Model.Lastupdated?.ToString("g")
        </dd>

        <!-- Admin ID -->
        <dt class="col-sm-2">
            Admin ID
        </dt>
        <dd class="col-sm-10">
            @Model.Adminid
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HModificationid" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
