@model IEnumerable<Testimonial>
@{
    ViewData["Title"] = "Member Dashboard";
}
<header role="banner">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Fitne<span>zz</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav mr-auto pl-lg-5 pl-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("AboutUs", "Home")">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ContactUs", "Home")">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "MembershipPlans")">Membership Plans</a>
                    </li>
                </ul>

                <!-- Member Profile Section -->
                <ul class="navbar-nav ml-auto">
                    @if (ViewBag.ProfilePicPath != null)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="memberDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="@Url.Content(ViewBag.ProfilePicPath)" alt="Member Pic" class="rounded-circle" style="width: 40px; height: 40px; object-fit: cover; margin-right: 8px;">
                                @ViewBag.MemberName
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="memberDropdown">
                                <a class="dropdown-item" href="@Url.Action("Profile", "Home")">Profile</a>
                                <form asp-action="Logout" asp-controller="Auth" method="post" class="dropdown-item p-0">
                                    <button type="submit" class="btn btn-link p-0 text-dark">Logout</button>
                                </form>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item cta-btn">
                            <a class="nav-link btn btn-primary text-white" href="@Url.Action("Login", "Auth")">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Slider Section -->
<section class="home-slider owl-carousel">
    <!-- Slider 1 -->
    @if (ViewBag.HomepageContent != null)
   {
    <div class="slider-item" style="background-image: url('@ViewBag.HomepageContent.SliderImage1');">
        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 element-animate">
                    <h1>@ViewBag.HomepageContent.SliderTitle1</h1>
                    <p class="mb-5">@ViewBag.HomepageContent.SliderSubtitle1</p>
                    <p>
                        <a href="#plans" class="btn btn-white btn-outline-white">Get Started</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Slider 2 -->
    <div class="slider-item" style="background-image: url('@ViewBag.HomepageContent.SliderImage2');">
        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 element-animate">
                    <h1>@ViewBag.HomepageContent.SliderTitle2</h1>
                    <p class="mb-5">@ViewBag.HomepageContent.SliderSubtitle2</p>
                    <p>
                        <a href="#plans" class="btn btn-white btn-outline-white">Get Started</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    }
    else 
    {
        <p>No homepage content available.</p>
    }
</section>

<!-- MemberShip Plans-->
<section class="section element-animate">
    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Featured Plans</h2>
                    <span class="back-text">Our Plans</span>
                </div>
            </div>
        </div>
    </div>

    <div class="owl-carousel centernonloop">
        @foreach (var plan in ViewBag.Plans)
        {
            <a href="@Url.Action("Details", "MembershipPlans", new { id = plan.PlanId })" class="item-class">
                <div class="text">
                    <p class="class-price">$@plan.Price</p>
                    <h2 class="class-heading">@plan.Name</h2>
                </div>
                <img src="@Url.Content(plan.ImagePath)" alt="@plan.Name" class="img-fluid">
            </a>
        }
    </div>
</section>

<!-- Workout Plans -->
<section class="section bg-light element-animate">
    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Our Classes</h2>
                    <span class="back-text-dark">Workouts</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row no-gutters">
            @foreach (var workout in ViewBag.Workouts)
            {
                <div class="col-md-6">
                    <div class="sched d-block d-lg-flex">
                        <div class="bg-image order-2" style="background-image: url('@workout.ImagePath');"></div>
                        <div class="text order-1">
                            <h3>@workout.Name</h3>
                            <p>@workout.Goals</p>
                            <p class="sched-time">
                                <span><span class="fa fa-user"></span> Trainer: @workout.TrainerName</span>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<!-- Trainers -->
<section class="section element-animate">
    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Expert Trainers</h2>
                    <span class="back-text">Our Trainers</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="major-caousel js-carousel-1 owl-carousel">
                @foreach (var trainer in ViewBag.Trainers)
                {
                    <div>
                        <div class="media d-block media-custom text-center">
                            <a href="#"><img src="@trainer.ImagePath" alt="@trainer.Name" class="img-fluid"></a>
                            <div class="media-body">
                                <h3 class="mt-0 text-black">@trainer.Name</h3>
                                <p class="lead">@trainer.Role</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- END slider -->
        </div>
    </div>
</section>

<!-- Testimonials -->
<section class="section element-animate">
    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Testimonial</h2>
                    <span class="back-text">Testimonial</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            @if (ViewBag.Testimonials != null && ViewBag.Testimonials.Count > 0)
            {
                foreach (var testimonial in ViewBag.Testimonials)
                {
                    <div class="col-md-4">
                        <blockquote class="testimonial">
                            <p>&ldquo; @testimonial.Content &rdquo;</p>
                            <div class="d-flex author">
                                <img src="@testimonial.AuthorImage" alt="Author Image" class="mr-4 img-fluid rounded-circle" style="width: 60px; height: 60px;">
                                <div class="author-info">
                                    <h4>@testimonial.AuthorName</h4>
                                    <p>Member</p>
                                </div>
                            </div>
                        </blockquote>
                    </div>
                }
            }
            else
            {
                <p>No testimonials are available at the moment.</p>
            }
        </div>
    </div>
</section>

<!-- Reviews -->
<section class="section element-animate">
    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Reviews</h2>
                    <span class="back-text">Our Reviews</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            @if (ViewBag.Reviews != null && ViewBag.Reviews.Count > 0)
            {
                foreach (var review in ViewBag.Reviews)
                {
                    <div class="col-md-6">
                        <div class="blog d-block d-lg-flex">
                            <div class="text">
                                <h3>@review.FullFeedbackText</h3>
                                <p class="sched-time">
                                    <span><span class="fa fa-calendar"></span> @review.SubmittedAt</span>
                                </p>
                                <p>
                                    Rating:
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if (i <= review.Rating)
                                        {
                                            <span class="fa fa-star checked" style="color: gold;"></span>
                                        }
                                        else
                                        {
                                            <span class="fa fa-star" style="color: lightgray;"></span>
                                        }
                                    }
                                </p>
                                <p>@review.FeedbackText</p>
                                <p><a href="#" class="btn btn-primary btn-sm">Read More</a></p>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p class="text-center">No reviews available at the moment.</p>
            }
        </div>
    </div>
</section>

