@model Userr
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_AdminLayout .cshtml";

}

<header role="banner" style="margin-block:revert-layer">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">Fitne<span>zz</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav mr-auto pl-lg-5 pl-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("MemberView", "Home")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("AboutUs", "Home")">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ContactUs", "Home")">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "MembershipPlans")">Membership Plans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Testimonials", "Member")">Testimonials</a>
                    </li>
                </ul>

                <!-- Profile Section -->
                <ul class="navbar-nav ml-auto">
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container mt-4">
    <h2> Profile </h2>
    <div class="row">
        <div class="col-md-4 card tale-bg">
            <img src="@Url.Content(Model.PicPath)" alt="Profile Picture" class="img-thumbnail" >
        </div>
        <div class="col-md-8">
            <p><strong>First Name:</strong> @Model.FirstName</p>
            <p><strong>Last Name:</strong> @Model.LastName</p>
            <p><strong>Email:</strong> @Model.Email</p>
            <p><strong>Phone:</strong> @Model.Phone</p>
            <p><strong>Address:</strong> @Model.Address</p>

            @if (Model.RoleId == 1)
            {
                <p><strong>Role:</strong> Administrator</p>
            }
            @if (Model.RoleId == 2)
            {
                <p><strong>Role:</strong> Trainer</p>
            }
            @if (Model.RoleId == 3)
            {
                <p><strong>Role:</strong> Member</p>
            }

            <a asp-action="EditProfile" asp-route-id="@Model.UserId" class="btn btn-primary">Edit Profile</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}