@model Userr
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_AdminLayout .cshtml";

}
<div class="container mt-4">
    <h2> Profile </h2>
    <div class="row">
        <div class="col-md-4 card tale-bg">
            <img src="@Url.Content(Model.PicPath)" alt="Profile Picture" class="img-thumbnail" >
        </div>
        <div class="col-md-8">
            <p><strong>First Name:</strong> @Model.FirstName</p>
            <p><strong>Last Name:</strong> @Model.LastName</p>
            <p><strong>Email:</strong> @Model.Email</p>
            <p><strong>Phone:</strong> @Model.Phone</p>
            <p><strong>Address:</strong> @Model.Address</p>

            @if (Model.RoleId == 1)
            {
                <p><strong>Role:</strong> Administrator</p>
            }
            @if (Model.RoleId == 2)
            {
                <p><strong>Role:</strong> Trainer</p>
            }
            @if (Model.RoleId == 3)
            {
                <p><strong>Role:</strong> Member</p>
            }

            <a asp-action="EditProfile" asp-route-id="@Model.UserId" class="btn btn-primary">Edit Profile</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}