@model IEnumerable<Contactuspage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Address)</th>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Lastupdated)</th>
            <th>@Html.DisplayNameFor(model => model.Admin.UserId)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Lastupdated)</td>
                <td>@Html.DisplayFor(modelItem => item.Admin.UserId)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CModificationid">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CModificationid">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CModificationid">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
